<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mages</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />

    <style type="text/css">
        body {
            margin: 0;
        }
    </style>

    <script>var globalPort = <?=port?>;</script>
    <script src="/js/socket.io-1.0.4.js"></script>
    <script src="/js/phaser-arcade-physics.min.js"></script>
    <script src="/js/state.boot.js"></script>
    <script src="/js/state.preloader.js"></script>
    <script src="/js/state.main_menu.js"></script>
    <script src="/js/state.game.js"></script>
    <script src="/js/inheritance.js"></script>
    <script src="/js/spells.js"></script>
    <script src="/js/client.js"></script>
  </head>
  <body>
  </body>
</html>
